#memorial-types {
    overflow: auto;
    min-height: 400px;
    height: calc(100% - 230px);
    max-width: 345px;
}

#exceed-allowed-memorials {
    display: none;
}

.memorial-photo {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
}

.speaker-button {
    background:url(../images/speaker-icon.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100%;
    border: none;
    padding: 3px;
    margin: 5px;
}
